@using CroKnitters.Entities;
@model IEnumerable<User>
@{
    ViewData["Title"] = "Add Friend";
}

<div class="justify-content-center rounded-lg border w-auto shadow-xl m-5 bg-white">

    <div class="text-5xl font-extrabold text-center">
        <span>
            Add Friend
        </span>
    </div>

    <div class="p-5">

        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" style="padding-top: 5px; margin-top: 0px;" asp-action="AddFriend" asp-route-id="@item.UserId">Add Friend</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

