@using CroKnitters.Entities;
@model User

@{
    ViewData["Title"] = "User Profile";
}

<div class="justify-content-center rounded-lg border w-auto shadow-xl m-5 bg-white">
    <div class="p-5">
        <!--profile pic div-->
        <div class="justify-center text-md-center profilePicture">
            <!--profile pic-->
            <i class="bi bi-person-circle "></i>
        </div>

        <!--user details-->
        <hr />
        <div class="pt-2 pb-2">
            <dl class="row">
                <dt class="col-sm-2">
                    User name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt class="col-sm-2">
                    First name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt class="col-sm-2">
                    Last name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-sm-2">
                    Bio
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Bio)
                </dd>
            </dl>
        </div>

        <div class="mb-3">
            <p> Friends: 0</p>
            <p> Communities joined: 0</p>
            <p> Comments: 0</p>
            <p> Projects: 0</p>
            <p> Patterns: 0</p>
        </div>

        <a asp-controller="Profile" asp-action="EditProfile" class=" rounded-md bg-indigo-600 mt-3 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2">Edit Profile</a>

       
    </div>
</div>

