@model List<ProjectSummaryViewModel>
@{
    ViewData["Title"] = "My Projects";
}

<div class="container mx-auto">

    <div class="flex flex-wrap justify-center mt-10 items-stretch">

        <div class="text-5xl font-extrabold text-center">
            <span>
                My Projects
            </span>
        </div>

        <div class=" rounded-lg border text-center shadow-xl m-5 justify-content-start bg-white">

            @if (TempData["noProject"] != null)
            {
                <div class=" container p-4 justify-content-center text-center border-info">
                    <h1 class="p-5"> You currently have no projects to show.</h1>
                    <a asp-controller="Project" asp-action="CreateNewProject" class="w-auto justify-center rounded-md bg-indigo-600 m-3 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2"><i class="bi bi-plus-square-fill"></i> Create a Project</a>

                </div>
            }
            else
            {

                <a asp-controller="Project" asp-action="CreateNewProject" class="w-auto justify-center rounded-md bg-indigo-600 m-3 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2"><i class="bi bi-plus-square-fill"></i> Create a Project</a>

                <div class="container p-4">
                    <!--Project-->
                    <div class="grid ">

                        @foreach (var project in Model)
                        {

                            <a asp-controller="project" asp-action="Details" asp-route-id="@project.ActiveProject.ProjectId" class="group m-2 grid-item">
                                @if (@project.ActiveProject.ProjectImages.Count > 0)
                                {
                                    var firstImageSrc = project.Images.First();

                                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                                        <img src="@("~/img/projects/"+firstImageSrc)" asp-append-version="true" width="300px" height="300px" alt="Pattern image" class="h-full w-full object-cover object-center group-hover:opacity-75">
                                    </div>
                                }
                                <h3 class="mt-4 text-sm text-gray-700 font-bold">@project.ActiveProject.ProjectName</h3>
                                <p class="mt-1 text-lg font-medium text-gray-900"> by @project.ActiveProject.Owner.FirstName @project.ActiveProject.Owner.LastName</p>
                                <p class="mt-1 text-lg font-medium text-gray-900"> @project.ActiveProject.Status</p>
                                <p class="mt-1 text-lg font-medium text-gray-900"><i class="bi bi-suit-heart"></i> @project.ActiveProject.Likes</p>
                                <p class="mt-1 text-lg font-medium text-gray-900"><i class="bi bi-chat-heart"></i>@project.NumberOfComments</p> <!--fix this-->
                            </a>
                        }

                    </div>


                </div>
            }
        </div>

    </div>

</div>
